/*HTML5 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { background-color: #CCCCCC;
	margin: 10;
}
h1{ color: #FFFFFF;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
}
/* Note: Make HTML 5 elements block-level for consisten styling */
header, nav, article, footer, address { display:block;}

*/ Sections P/
header, nav, article, footer, address {width:100%; clear:both; }
aside { float: right;
	width: 0 1.5%;
	width: 50%;
	padding: 75px;
}
table { border: 3px groove #FF6600;
	border-radius: 5px;
}
form { font-family: Verdana, Helvetica, sans-serif;
	margin-left: 40;
	width: 40px;
	float: left;
	padding: 30px;
}
ul { text-align: center;
	list-style-type: none;
}
.news { color: #000000;
	text-align: center;
}
#nav_wrapper ul li {
	list-style: none;
	display: inline;
	color: #FFFFFF;
	font-weight: bold;
	padding: 30px;
}
#nav_wrapper ul li:hover{
	background: #999999;
	transition:all 0.45s;
}
#nav_wrapper a{
	color: white;
	text-decoration: none;
}
image { display: center;
	padding: 100px;
}
