body { background-color: #CCCCCC;
	margin: 10;
}
h1{ color: #FFFFFF;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
}
a: link {color: #FF6633;
}
aside { float: right;
	width: 200px;
	padding: 20px;
	font-size:bold;
}
main { font-family: Verdana, Helvetica, sans-serif;
	text-align: center;
}
ul { text-align: center;
}
.news { color: #000000;
	text-align: center;
}
body{
	font-family: arial, sans-serif;
	font-size: bold;
}
#nav_wrapper ul li {
	list-style: none;
	display: inline;
	color: #FFFFFF;
	font-weight: bold;
	padding: 35px;
}
#nav_wrapper ul li:hover{
	background: #999999;
	transition:all 0.45s;
}
#nav_wrapper a{
	color: white;
	text-decoration: none;
}
