ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0.5
}
li a {
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px
	text-decoration: none;
}
/*Change the link color on hover */
li a:hover {
	background-color: #555;
	color: white;
}
.active {
	background-color: #FF9966:
	color: white;
}
body { 	background-image: url(Fargo1.jpg) ; 
			background-repeat: no-repeat;
			margin-left: auto;
			margin-right: auto;
			width: 600px;
			height: 400px; 
			padding-top: 20px;
			padding-right: 150px;
}
h1 { 	color: #ffffff;
		color: rgba(255, 255, 255, 0.7);
		font-family: Verdana, Helvetica, sans-serif;
		font-size: 2em;
		padding-right: 10px;
		text-align: center }
