body { background-color: #CCCCCC; 
}
h1{ color: #FFFFFF;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
}
body{
	font-family: arial, sans-serif;
}
#nav_wrapper ul li {
	list-style: none;
	display: inline;
	color: #FFFFFF;
	font-weight: bold;
	padding: 35px;
}
#nav_wrapper ul li:hover{
	background: #999999;
	transition:all 0.45s;
}
#nav_wrapper a{
	color: white;
	text-decoration: none;
}
table { margin: auto;
		border:3px groove #FF6600;
		border-radius: 5px;
}
th {background-color: #CCCCCC; }
h3 {text-align: center;
}
