body { background-color: #CCCCCC; 
}
h1{ color: #FFFFFF;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
}
/* Note: Make HTML 5 elements block-level for consisten styling */
header, nav, article, footer, address { display:block;}

*/ Sections P/
header, nav, article, footer, address {width:100%; clear:both; }
#nav_wrapper ul li {
	list-style: none;
	display: inline;
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px;
}
#nav_wrapper ul li {
	background: #999999;
	transition:all 0.45s;
}
#nav_wrapper a{
	color: white;
	text-decoration: none;
}
ul { margin: 200px;
}
